src/app-schema-cache/eu/europa/eionet/reporting/draft/CDDA_2018_Type2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
2017.07.22 @tkardi: xsd schema file taken from
https://forum.eionet.europa.eu/nrc-biodiversity-data-and-information/library/cdda-2018-reporting/cdda-2018-reporting-consultation/cdda-2018-schema/cdda-2018-type-2-designatedareas-and-linkeddataset-schema/download/en/1/CDDA_2018_Type2.xsd
This is a draft only so changes are possible. The file's location in app-schema-
cache is currently chosen arbitrarily, could change.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>

  <xs:element name="Type2_LinkedCdda">
	<xs:annotation>
		<xs:documentation>-- Name -- linked CDDA -- Definition -- The Linked CDDA models type2 data
			linked to type1 INSPIRE Protected Sites data.</xs:documentation>
	</xs:annotation>
    <xs:complexType>
		<xs:sequence>
			<xs:element name="DesignatedArea" minOccurs="1" maxOccurs="unbounded">
		       <xs:annotation>
			   <xs:documentation>-- Name -- Designated area -- Definition -- Records for nationally
				 designated areas. -- Description -- The table contains information about nationally
				 designated areas in European countries, members of the Eionet
				 network.</xs:documentation>
		       </xs:annotation>
			   <xs:complexType>
				 <xs:sequence>
					<xs:element name="cddaId" type="xs:integer">
						<xs:annotation>
							<xs:documentation>-- Name -- Cdda id -- Definition -- The CDDA ID is the
								unique identifier within the CDDA data base for nationally
								designated areas. -- Description -- NOTE 1 The CDDA ID is identical
								to the WDPA ID and reused in the World Data base on Protected Areas.
								NOTE 2 Former SITE_CODE in CDDA Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nationalId" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								-- Name -- National id
								-- Definition -- The National ID is the unique identifier for the site in the national database on designated areas.
								-- Description --
								NOTE 1 The National code is mandatory when the field designatedAreaType = designatedSite.When the field designatedAreaType = designatedBoundary, the National code is optional.
								NOTE 2 Former SITE_CODE_NAT in CDDA Reporting.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="designatedAreaType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								-- Name -- Designated area type
								-- Definition -- Indicate whether the spatial object is a designated site or a designated boundary.
								-- Description --
								Designated sites are under national or federal legislation aiming to protect fauna, flora, and habitats.
								Designated boundaries are areas (often sets of areas) which provide adequate and durable protection for fauna, flora and habitats through national/federal, sectorial or private statutes, e.g. via management practices.
								An example of designated boundaries is when specific habitat types (raised bogs, specific meadow types, etc) are under general protection wherever they occur.
								Another example could be when areas are managed for the protection of biodiversity, e.g. by NGOS.
								With respect to the reporting, a designated boundary will often not have all the information that is defined as mandatory for the reporting of a designated site.
								Public
								designatedSite
								Details:
								Notes: -- Definition --
								A site designated by national legislation with the intent to protect fauna, flora and habitats.
								Public
								designatedBoundary
								Details:
								Notes: -- Definition --
								A boundary of an area (or often sets of areas) which provides adequate and durable protection for fauna, flora and habitats through national, sectorial or private statutes.
								</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="area" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name -- Area -- Definition -- The measure of the
								physical extent of any topologically 2-D geometric object. Usually
								measured in "square" units of length. -- Description -- NOTE 1
								Surface area in hectares (ha). NOTE 2 Former SITE_AREA in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="majorEcosystemType" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name -- Major ecosystem type -- Definition -- The
								type of the major ecosystem. -- Description -- NOTE 1 The major
								ecosystem type can be: marine, marine and terrestrial (incl.
								freshwater) or terrestrial (incl. freshwater). NOTE 2 Former
								Major_ecosystem_type in CDDA Reporting</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="iucnCategory" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name -- IUCN Category -- Definition -- IUCN protected
								area management categories (2008) classify protected areas according
								to their management objectives. The categories are recognized by
								international bodies such as the United Nations and by many national
								governments as the global standard for defining and recording
								protected areas and as such are increasingly being incorporated into
								government legislation. -- Description -- NOTE 1 IucnCategory is the same
								as IUCNDesignation. NOTE 2 Former IUCNCAT in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isoCountryCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name -- Iso country code -- Definition -- ISO 2
								character code for the reporting country. -- Description -- NOTE
								Former PARENT_ISO in CDDA Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isoEntityCode" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Iso entity code -- Definition -- ISO 2
								character code for the reporting entity, being country, autonomous
								or overseas region or community, or other territory (e.g. overseas
								entities as Outermost Regions or Overseas Countries and
								Territories). -- Description -- NOTE Former ISO2 in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="spatialDataDissemination" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name -- Spatial data dissemination -- Definition --
								Code for instructions to EEA regarding further dissemination of
								geographical data (boundaries) to partners (WDPA) or the public. --
								Description -- NOTE Former CDDA_Dissemination_code in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resolutionCode" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Resolution code -- Definition -- Codes for
								spatial resolution of dataset from which geographical data for this
								feature (boundaries, coordinates) has been derived. -- Description
								-- NOTE Former CDDA_Resolution_code in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="marineAreaPercentage" type="xs:double" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Marine area percentage -- Definition --
								Percentage of the total area of marine ecosystems in the site. --
								Description -- NOTE Former Marine_area_perc in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eionetChangeDate" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Eionet Change Date -- Definition -- The
								date the site record was edited. -- Description -- NOTE Former
								EIONET_CHNG_DATE in CDDA Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eionetChangeType" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Eionet Change Type -- Definition -- The
								type of change to the site record. -- Description -- NOTE Former
								EIONET_CHNG_TYPE in CDDA Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eionetEditedBy" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Eionet Edited By -- Definition -- The name
								of the person who did the actual editing of the data. -- Description
								-- NOTE Former EIONET_EDITED_BY in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eionetInstitute" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Eionet Institute -- Definition -- The
								abbreviation of the institution responsible for editing of the
								record. -- Description -- NOTE Former EIONET_INSTITUTE in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
				 	<xs:element name="PSlocalId" type="xs:string" minOccurs="0" maxOccurs="1"/>
				 	<xs:element name="PSnamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
				 	<xs:element name="PSversionId" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="remark" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Remark -- Definition -- Remarks about the
								site record. -- Description -- NOTE Former NOTES in CDDA
								Reporting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="siteEnded" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name -- Site ended -- Definition -- To be able to
								maintain the central data base, sites which are not valid any more
								can be marked for deletion in this field. -- Description -- NOTE 1
								Former To_be_deleted in CDDA Reporting. NOTE 2 When a site has been
								marked for deletion, the Remarks field in the Sites table should be
								used to indicate the reason for doing so.</xs:documentation>
						</xs:annotation>
					</xs:element>
				 	<xs:element name="containedBy" type="xs:string" minOccurs="0" maxOccurs="1">
				 		<xs:annotation>
				 		<xs:documentation>Foreign key to the Linked Dataset</xs:documentation>
				 	</xs:annotation>
				 	</xs:element>
				</xs:sequence>
	    </xs:complexType>
    </xs:element>

			<xs:element name="linkedDataset" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="datasetID" type="xs:string"/>
						<xs:element name="GmlFilename" type="xs:string"/>
						<xs:element name="WfsEndpoint" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="WfsVersion" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="WfsStoredQuery" type="xs:string" minOccurs="0" maxOccurs="1"/>

					</xs:sequence>
				</xs:complexType></xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
